<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="static/styles.css" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="static/default.js"></script>
</head>

<body>

<div id="container" style="border:1px solid #cccccc; overflow:auto;">
	<div class="msg msg_left">
		<span class="user1 msg_left_content">How would you rate our product? (Good/Bad?)</span>
	</div>

</div>

<div id="form-container">
	<form id="form-reply" role="form">
		<input type="text" id="form-reply-input" name="reply" class="chat_input" required autofocus>
	</form>
 </div>

</body>
</html>
